<form method="post" action="/Account/Register">

    <div class="mb-3">
        <label>Email</label>
        <input type="text" name="email" class="form-control" />
        <span style="color:red">@ViewBag.EmailError</span>
    </div>

    <div class="mb-3">
        <label>Password</label>
        <input type="password" name="password" class="form-control" />
        <span style="color:red">@ViewBag.PasswordError</span>
    </div>

    <div class="mb-3">
        <label>Role</label>
        <select name="role" class="form-control">
            <option value="">-- Select Role --</option>
            <option value="Admin">Admin</option>
            <option value="Student">Student</option>
        </select>
        <span style="color:red">@ViewBag.RoleError</span>
    </div>

    <button class="btn btn-primary">Register</button>
    @Html.ActionLink("Back to Admin DashBoard","AdminDashboard")

    <p style="color:green">@ViewBag.Msg</p>
</form>
